<?xml version="1.0" encoding="utf-8" ?>

<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\log.log">-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>

    <!-- Log in a separate thread, possibly queueing up to messages. When the queue overflows, discard any extra messages-->

    <!-- write logs to file -->
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/${shortdate}.log" layout="${longdate},${level:uppercase=true},${event-context:item=Action}${message},${event-context:item=Amount}${stacktrace}" />
    </target>

  </targets>

  <rules>
    <!--DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>